{% extends 'sample.html' %}
{% block title %}Agents {% endblock %}
 {% block style %} <style> .example-table th { padding: 15px; } </style> {% endblock %}



{% block body %}


     {% if sr %}
    {% for i in sr%}
 <div class="container my-4">
     <form action="{% url 'update' %}" method='POST' >{% csrf_token %}
  <table border="1" class="example-table th">
      <tr>

            <th>Name</th>
           <th>brand</th>
           <th>service</th>

          <th>Description</th>
            <th>Address</th>
           <th>Date</th>
           <th>Time</th>
           <th>enter OTP</th>
           <th>status</th>
           <th>submit</th>

      </tr>

        <tr>
<!---->
            <th>{{i.name}}</th>
<th>{{i.brand}}</th>
        <th>{{i.service}}</th>
        <th>{{i.des}}</th>
        <th>{{i.address}}</th>
        <th>{{i.date}}</th>
        <th>{{i.time}}</th>
        <th><input type="text" name="newotp" maxlength="4"></th>
        <th>{{i.status}}</th>
        <th><button type="submit" class="btn btn-primary" name="otp" value="{{i.otp}}" >submit</button></th>
<!--           -->

      </tr>


    </table>

          </form>
      </div>

              {% endfor %}
{% endif %}





{% endblock %}