<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <table border="0px" width="300px">
      <tr>
          <td><a href="{% url 'about' %}">AC repairing</a></td>
      </tr>
    </table>
    <hr>
</div>
<div>
    <table border="0px" width="300px">
      <tr>
        <td>AC repairing</td>
      </tr>
    </table>
    <hr>
</div>
<div>
    <table border="0px" width="300px">
      <tr>
        <td>AC repairing</td>
      </tr>
    </table>
    <hr>
</div>
<div>
    <table border="0px" width="300px">
      <tr>
        <td>AC repairing</td>
      </tr>
    </table>
    <hr>
</div>

</body>
</html>
