<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container my-3">
    <h1>Hello, world!</h1>


<!--
  <div>
    {% if messages %}
    <ul class="message">
      {% for i in messages %}
      <li style="color:red">{{i}}</li>
    {% endfor %}
    </ul>
    {% endif %}

  </div>
-->
<!--
    {% if sr %}
    {% for i in sr%}
  <div class="container">
  <div class="media">
    {% if i.image %}
  <img src="{{i.image.url}}"  width="130" height="130" class="align-self-center mr-3" alt="...">
    {% endif %}
  <div class="media-body">
    <h5 class="mt-0">{{i.name}}  {{i.city}}</h5>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
    <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>
</div>
</div>
  <hr>
    {% endfor %}
{% endif %}
-->
<!--

  <div class="container">
    {% if sr %}
    {% for i in sr%}

    <div class="media">
    {% if i.image %}
  <img src="{{i.image.url}}"  width="130" height="130" class="align-self-center mr-3" alt="...">
      {% endif %}


    <table border="0px" width="300px">
      <tr>
        <td>Name</td>
        <td>{{i.name}}</td>
      </tr>

      <tr>
        <td>city</td>
        <td>{{i.city}}</td>
      </tr>
    </table>
      </div>
    <hr>
  {% endfor %}
{% endif %}


  </div>

-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
