{% extends 'sample.html' %}
{% block title %}LOG {% endblock %}
 {% block style %} <style> .example-table th { padding: 15px; } </style> {% endblock %}



{% block body %}
 <div class="container my-2">

    <table class="example-table" border="1px" width="300px">
      <tr>
          <th>OTP</th>
        <th>Name</th>
           <th>Brand</th>
           <th>service</th>
          <th>Description</th>
            <th>Address</th>
           <th>Date</th>
           <th>Time</th>

           <th>Service Provider</th>
           <th>Status</th>

      </tr>
          {% if sr %}
    {% for i in sr%}
        <tr>
            <th>{{i.otp}}</th>
            <th>{{i.name}}</th>
        <th>{{i.brand}}</th>
            <th>{{i.service}}</th>

        <th>{{i.des}}</th>
        <th>{{i.address}}</th>
        <th>{{i.date}}</th>
        <th>{{i.time}}</th>
        <th>{{i.servicep}}</th>
        <th>{{i.status}}</th>
      </tr>
         {% endfor %}
{% endif %}
    </table>




  </div>
{% endblock %}